<html>
    <head>
        <title>Movies</title>
        <style>
            table{
                font-family: "Courier", sans-serif;
                width: 100%;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Rating</th>
            </tr>
            {% for movie in movies %}
                <tr>
                    <th>{{ movie.name }}</th>
                    <th>{{ movie.size }}</th>
                    <th>{{ movie.rating }}</th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
